{% extends 'main.html' %}

{% load static  %}

{% block content %}

    <div class="main_blog_container">
        <div class="blog-container">
            <div class="img_banner_box">
                <img src="{{data.image.url}}" alt="">
            </div>
            <h1 class="txt-center">{{data.header}}</h1>
    
            <p class="blog_description">{{data.description}}</p>
    
        </div>
        <div class="box_container">
            {% for content in contents%}
                <a href="{% url 'blog-content-view' content.id %}" class="content_box">
                    <div class="img_box">
                        <img src="{{content.image.url}}" alt="">
                    </div>
                    <h3 class="content_header">{{content.header}}</h3>
                    <p class="short_description">{{content.short_description}}</p>
                </a>
            {% endfor %}
        </div>
    </div>


{% endblock content %}