{% extends 'main.html' %}

{% block content %}

<!-- start page html -->
{% include 'homepage/starter.html' %}

<!-- How it works -->

{% include 'homepage/work.html' %}
{% include 'homepage/speciality.html' %}
{% include 'homepage/what_does_healthy.html' %}


<div class="get_started_today">
    <h1>Get Started Today</h1>

    {% if not request.user %}
        <a href="/signup"><button class="global_btn">SIGN UP</button></a>
    {% else %}
        <a href="/profile"><button class="global_btn">View My Plans</button></a>

    {% endif %}
</div>

{% endblock content %}