<div class="dialog_box dialog-overlay changepassword" id="dialogOverlay3">
    <div class="dialog_sm dialog">
        {% if password_success %}
        <div class="successfull_box">
            <h2 class="primary-color text-center">Password Changed Successfully</h2>

        <button type="button" class="global_btn mt-10" onclick="hideChangePassword()">Close</button>

        </div>
        {% else %}

        <h2 class="primary-black text-center">Change Password</h2>
        <form action="{% url 'changepw' %}" class="mt-10" method="post">
            {% csrf_token %}
                <!-- <input type="hidden" value="change_password" name="action"> -->
                <div class="form-control">
                    <label for="first_name">Old Password</label>
                    <input type="text" name="old_password" class="base_input" required/>
                  </div>
                  <div class="form-control">
                    <label for="first_name">New Password</label>
                    <input type="text" name="new_password" class="base_input" required/>
                  </div>
                  <div class="form-control">
                    <label for="first_name">Retype New Password</label>
                    <input type="text" name="new_retype" class="base_input" required/>
                  </div>


                  <script>
                    console.log("{{messages}}")
                  </script>
                  {% if messages %}
                  <ul class="messages no_list_style mt-10">
                    
                      {% for message in messages %}
                          <li class="red sm_text">{{ message }}</li>
                      {% endfor %}
                  </ul>
              {% endif %}

        
             <button class="global_btn mt-10">Change</button>
             <button type="button" class="global_btn outline" onclick="hideChangePassword()">Close</button>
        
            </div>

    
          </form>
        {% endif %}
    </div>
  </div>