

<div class="login_page dialog_box dialog-overlay" id="dialogOverlay">
    <div class="dialog_sm dialog">
        <h2 class="header mt-15">SIGN IN</h2>
        <form action="">
            <span class="material-symbols-outlined close_login" onclick="closeDialog()">
                close
                </span>
            <div class="form-control">
                <label for="email">EMAIL ADDRESS</label>
                <input type="text" class="base_input">
            </div>
    
    
            <div class="form-control">
                <label for="password">PASSWORD</label>
                <input type="password" class="base_input">
                <div class="forgot_password">
                <p>Forgot Password ?</p>

                </div>
            </div>
    
                <button class="global_btn submit mt-15">SUBMIT</button>
    
            <div class="underline"></div>
    
            <div class="form-control mt-15">
                <p class="sign_in text-center">New To Healthy New Plans?</p>
            </div>
    
            <button class="global_btn">SIGN UP</button>
        </form>
    </div>
</div>
