<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

</head>
<body>
    {% include 'nav.html' %}

    {% include 'auth/login.html' %}

    {% if messages %}
    {% for message in messages %}
      <script>
        document.addEventListener("DOMContentLoaded", function() {
          showSnackBar('{{ message }}', '{{ message.tags }}');
        });
      </script>
    {% endfor %}
  {% endif %}

    {% block content %}

    {% endblock %}


    <div class="footer">
        <ul class="foot_nav">
            <li>How It Works</li>
            <li>FAQs</li>
            <li>Contact</li>
            
        </ul>

        
            <ul class="social_media">
                <li>A</li>
                <li>B</li>
                <li>C</li>
            </ul>
            <p style="margin-top: 20px; text-align: center; padding: 50px;">CopyRight All Right Resevered 2023.</p>
    </div>



</body>

<script src="{% static 'javascript/index.js' %}"></script>

</html>