<nav class="navbar">
{%load static%}
    <div class="logo_box">
        <img src="{%static 'images/logo.svg'%}" alt="">
        <div class="title">
            <h2>healthy</h2>
            <p>MEAL PLANS</p>
        </div>
    </div>

    <div class="right_nav_content">
        <div class="top_buttons">
            <button class="global_btn outline" onclick="openDialog()">SIGN IN</button>
            <button class="global_btn">SIGN UP</button>
        </div>
        <div class="nav_items">
            <ul>
                <li><a href="">MEAL PLANNER</a></li>
                <li><a href="">BMI CALCULATOR</a></li>
                <li><a href="">BLOG</a></li>
                <li><a href="">SPECALITY MEAL PLANS</a></li>
            </ul>
        </div>
    </div>
</nav>