<nav class="navbar">
{%load static%}
    <a class="logo_box" href="/">
        <img src="{%static 'images/logo.svg'%}" alt="">
        <div class="title">
            <h2>healthy</h2>
            <p>MEAL PLANS</p>
        </div>
    </a>

    <div class="right_nav_content">
        
        <div class="top_buttons">
            {% if user.is_authenticated %}
            <!-- Display user info and logout button -->
            <div class="user_box profile-icon"  onclick="toggleDropdown()">
                <span class="icon material-symbols-outlined">
                    person
                    </span>
                <div class="user-info">{{ user.first_name }} {{ user.last_name }}</div>
            </div>
            <div class="dropdown" id="dropdownMenu">
                <a href="#">Profile</a>
                <a href="{% url 'logout' %}">Logout</a>
            </div>
            <!-- <a href="{% url 'logout' %}">
                <button class="global_btn">LOGOUT</button>
            </a> -->
            {% else %}
                <!-- Show sign-in and sign-up buttons for unauthenticated users -->
                <button class="global_btn outline" onclick="openDialog()">SIGN IN</button>
                
                <a href="/signup"><button class="global_btn">SIGN UP</button></a>
            {% endif %}
        </div>
        <div class="nav_items">
            <ul>
                <li><a href="">MEAL PLANNER</a></li>
                <li><a href="{% url 'calculator' %}">BMI CALCULATOR</a></li>
                <li><a href="">BLOG</a></li>
                <li><a href="">SPECALITY MEAL PLANS</a></li>
            </ul>
        </div>
    </div>
</nav>