@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --primary-color: #158644;
  --web-green:#128047;
  --secondary-color: #C5F6DD;
  --green-logo:#75b13b;
  --page-bg:#F2F1F1;
  --text-color-light:white;
  --text-color-dark:black;
  --font-family: "Inter", sans-serif;
  --radius:10px;
  --text-color:#999292;
  --font-size-large: 18px;
  --light-black:rgb(53, 53, 53);
  --font-size-small: 14px;
  --spacing: 16px;
}

body {
  max-width: 1500px;
  margin: auto;
}

.cur-p {
  cursor: pointer;
}

.primary-color {
  color: var(--primary-color);
}

.d-flex {
  display: flex;
}

.no_list_style {
  list-style: none;
}

.red {
  color: red;
}

.sm_text {
  font-size: 0.8rem;
}

.m-auto {
  margin: auto;
}

.primary-black {
  color: var(--light-black);
}

.p-text-color {
  color: var(--text-color);
}

.align-item-middle {
  display: flex;
  justify-content: center;
  width: 100%;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.text-center {
  text-align: center;
}

.global_btn {
  min-height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 100px;
  border: none;
  background-image: linear-gradient(30deg, var(--primary-color), rgb(7, 202, 7));
  color: rgb(254, 254, 254);
  border-radius: var(--radius);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.global_btn:hover {
  background-image: linear-gradient(30deg, rgb(7, 202, 7), var(--primary-color));
  font-size: 0.9rem;
}
.global_btn.rect {
  border-radius: 5px;
}
.global_btn.simple {
  background-image: none;
  background-color: var(--primary-color);
}
.global_btn.outline {
  background-color: transparent;
  color: var(--primary-color);
  background-image: none;
  border: 1.5px solid var(--primary-color);
}
.global_btn.bold {
  font-weight: bold;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  height: 120px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  place-content: center;
  place-items: center;
  justify-content: space-between;
  border-bottom: 10px solid var(--page-bg);
}
.navbar .mobile {
  display: none;
}
.navbar .logo_box {
  padding: 10px;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.navbar .logo_box .title {
  display: flex;
  flex-direction: column;
  place-content: center;
}
.navbar .logo_box .title h2 {
  color: var(--primary-color);
  font-style: italic;
  font-size: 2.1rem;
  font-weight: bold;
}
.navbar .logo_box .title p {
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 500;
}
.navbar .logo_box img {
  max-height: 90px;
  margin: auto;
}
.navbar .menu {
  display: none;
}
.navbar .dropdown .mobile_box {
  display: none;
}
.navbar .right_nav_content {
  margin-right: 10px;
  width: 60%;
  display: flex;
  justify-content: right;
  flex-direction: column;
  gap: 30px;
}
.navbar .right_nav_content .top_buttons {
  display: flex;
  justify-content: right;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.navbar .right_nav_content .top_buttons .menu {
  display: none;
}
.navbar .right_nav_content .nav_items ul {
  display: flex;
  list-style: none;
  justify-content: right;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.navbar .right_nav_content .nav_items ul li.active {
  font-weight: bold;
  color: black;
}
.navbar .right_nav_content .nav_items ul li.active a {
  color: black;
}
.navbar .right_nav_content .nav_items ul a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 0.8rem;
  transition: 0.3s ease-in-out;
}
.navbar .right_nav_content .nav_items ul a:hover {
  color: black;
}

.user_box {
  cursor: pointer;
  display: flex;
  place-content: center;
  place-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  min-width: 100px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  overflow: hidden;
}
.user_box .icon {
  padding: 5px;
  display: flex;
  place-content: center;
  place-items: center;
}
.user_box .user-info {
  background-color: var(--primary-color);
  height: 100%;
  color: white;
  display: flex;
  place-content: center;
  place-items: center;
  padding: 5px;
}

.dropdown {
  display: none; /* Hide by default */
  position: absolute; /* Position relative to the parent */
  top: 70px; /* Position below the icon */
  right: 20px; /* Align to the right */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure dropdown is on top */
}
.dropdown a {
  display: block;
  padding: 10px 15px;
  color: black;
  text-decoration: none;
}
.dropdown a:hover {
  background-color: #f1f1f1; /* Highlight on hover */
}

.homepage_container {
  height: 120vh;
  position: relative;
  overflow: hidden;
}
.homepage_container .size_manager {
  height: 70%;
  display: flex;
  place-content: center;
  place-items: center;
  flex-direction: column;
  gap: 10px;
  position: relative;
  overflow: hidden;
  background-color: white;
}
.homepage_container .header {
  font-size: 2.5rem;
  color: var(--light-black);
}
.homepage_container .global_btn {
  height: 50px;
  min-width: 250px;
  border-radius: 20px;
}
.homepage_container .ellipse {
  position: absolute;
  border: 10px solid var(--page-bg);
  height: 600px;
  width: 120%;
  border-radius: 50%;
  bottom: 10%;
  left: -10%;
  z-index: -1;
}
.homepage_container .design_img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  opacity: 0.7;
}
.homepage_container .design_img.img1 {
  top: -80px;
  left: -50px;
}
.homepage_container .design_img.img2 {
  right: -50px;
  top: -80px;
}
.homepage_container .design_img.img3 {
  bottom: 0px;
  left: -70px;
}
.homepage_container .design_img.img4 {
  bottom: 0px;
  right: -70px;
}

.how_it_works .header {
  display: flex;
  flex-direction: column;
  place-items: center;
}
.how_it_works .header h1 {
  color: var(--light-black);
  font-weight: 2.5rem;
}
.how_it_works .container {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  -moz-column-gap: 10px;
       column-gap: 10px;
  position: relative;
}
.how_it_works .container .left {
  padding: 20px;
  width: 45%;
}
.how_it_works .container .left img {
  width: 90%;
  height: 100%;
}
.how_it_works .container .right {
  width: 45%;
}
.how_it_works .container .right .text {
  color: var(--text-color);
  margin-top: 50px;
}
.how_it_works .container .right .global_btn {
  margin-top: 10px;
}
.how_it_works .container .arrow_navigate {
  position: absolute;
  right: 40%;
  bottom: -20%;
}
.how_it_works .container2 {
  margin-top: 200px;
}
.how_it_works .container2 .left {
  padding: 20px;
}
.how_it_works .container2 .left .text {
  margin-top: 40px;
}
.how_it_works .container2 .right img {
  width: 90%;
}
.how_it_works .container2 .arrow_navigate2 {
  position: absolute;
  left: 20%;
  bottom: -20%;
}
.how_it_works .get_started_place {
  display: flex;
  margin-top: 120px;
}
.how_it_works .get_started_place .get_started {
  margin: auto;
  height: 50px;
  width: 200px;
  border-radius: 30px;
  font-size: 1.1rem;
}

.speciality {
  margin-top: 100px;
}
.speciality .container {
  margin-top: 20px;
}
.speciality .container .text {
  margin-top: 20px;
}
.speciality .container .global_btn {
  height: 40px;
  width: 190px;
  margin-top: 20px;
}
.speciality .container .left {
  width: 30%;
}
.speciality .container .right {
  display: grid;
  grid-template-columns: 35% 35%;
  justify-content: space-around;
  gap: 20px;
}
.speciality .container .right .img_box1 {
  -moz-column-gap: 5px;
       column-gap: 5px;
  position: relative;
}
.speciality .container .right .img_box1 img {
  width: 100%;
  height: 100%;
}
.speciality .container .right .label {
  box-shadow: 1px 1px 10px gray;
  border-radius: 20px;
  color: var(--primary-color);
  position: absolute;
  bottom: 0px;
  left: -20px;
  background-color: var(--page-bg);
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  place-content: center;
  place-items: center;
}

.healthy_even_mean {
  margin-top: 200px;
  height: 170vh;
  position: relative;
}
.healthy_even_mean .header p {
  width: 50%;
  text-align: center;
  margin-top: 20px;
}
.healthy_even_mean .ellipse2 {
  height: 100%;
  width: 80%;
  border-radius: 50%;
  position: absolute;
  border: 5px solid var(--page-bg);
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.healthy_even_mean .container {
  justify-content: center;
  place-items: center;
}
.healthy_even_mean .container .left {
  width: 20%;
}
.healthy_even_mean .container .left h2 {
  font-size: 1.2rem;
}
.healthy_even_mean .container .left .text {
  margin-top: 20px;
  font-size: 0.8rem;
}
.healthy_even_mean .container .right {
  width: 20%;
}
.healthy_even_mean .container .right img {
  max-height: 150px;
}
.healthy_even_mean .ct1 {
  margin-top: 5%;
}
.healthy_even_mean .ct2 {
  margin-top: 5%;
}
.healthy_even_mean .ct3 {
  margin-top: 5%;
}

.get_started_today {
  display: flex;
  place-content: center;
  place-items: center;
  gap: 20px;
  flex-direction: column;
}
.get_started_today .global_btn {
  height: 40px;
  width: 150px;
  border-radius: 20px;
}

.footer {
  display: flex;
  background-image: linear-gradient(40deg, var(--primary-color), var(--green-logo));
  height: 200px;
  justify-content: space-between;
  place-items: center;
  padding: 30px;
  margin-top: 50px;
}
.footer .foot_nav {
  list-style: none;
  color: white;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.footer .foot_nav li {
  cursor: pointer;
  margin-bottom: 10px;
}
.footer .social_media {
  list-style: none;
  display: flex;
  color: white;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.footer .social_media li {
  cursor: pointer;
}

.dialog_box {
  position: fixed;
  left: 50%;
  top: 60%;
  z-index: 10;
  transform: translate(-50%, -50%);
  background-color: white;
  min-height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.dialog_box .dialog_sm, .dialog_box .dialog {
  background-color: white;
  width: 50%;
  max-width: 500px;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  transform: scale(0.7); /* Initial small scale */
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Active state for showing dialog */
.dialog-overlay.show {
  opacity: 1;
  visibility: visible;
}

.dialog-overlay.show .dialog {
  transform: scale(1); /* Grows to full size */
  opacity: 1;
}

.base_input {
  width: 100%;
  border: 1px solid green;
  border-radius: 5px;
  padding: 5px;
  height: 50px;
  padding-left: 20px;
  background-color: transparent;
  font-size: 1rem;
}

.login_page .header {
  text-align: center;
  color: var(--text-color);
}
.login_page .sign_in {
  color: var(--text-color);
}
.login_page .dialog_sm {
  padding: 20px;
  box-shadow: 0px 0px 10px gray;
  position: relative;
  transform: scale(0.7); /* Initial small scale */
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.login_page .close_login {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 2rem;
  color: var(--text-color);
}
.login_page .close_login:hover {
  color: green;
}
.login_page .underline {
  border-bottom: 3px solid var(--web-green);
}
.login_page .forgot_password {
  display: flex;
  justify-content: right;
  margin-top: 10px;
  color: var(--text-color);
}
.login_page form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login_page form button {
  background-image: none;
  background-color: var(--web-green);
  height: 50px;
}

a {
  text-decoration: none;
}

.form-control {
  margin-top: 5px;
}
.form-control label {
  padding-bottom: 10px;
  color: var(--text-color);
}
.form-control input {
  margin-top: 10px;
}
.form-control select {
  height: 50px;
  min-width: 50px;
  border-radius: 5px;
  font-size: 1rem;
  border: 1px solid var(--primary-color);
  color: var(--text-color-dark);
}

.form-flex {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.signup_page {
  padding: 0px 100px;
  height: 80vh;
}
.signup_page .header {
  text-align: center;
  color: var(--text-color);
}
.signup_page .signup_container {
  margin-top: 30px;
}
.signup_page .signup_container .underline {
  border-bottom: 10px;
  background-color: var(--primary-color);
  margin-top: 20px;
  height: 5px;
}
.signup_page .signup_container .global_btn {
  width: 100%;
  height: 50px;
  margin-top: 20px;
}
.signup_page .signup_container .img_box {
  border-radius: 5px;
  overflow: hidden;
}
.signup_page .signup_container .img_box img {
  max-height: 400px;
}

.bmi_calculator_container {
  background-color: var(--secondary-color);
  height: 100vh;
  padding: 0px 50px 50px 50px;
}
.bmi_calculator_container .header {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  place-items: center;
  padding: 10px;
}
.bmi_calculator_container .header .logo {
  background-color: white;
  padding: 15px;
  border-radius: 50%;
}
.bmi_calculator_container .header .logo img {
  height: 60px;
}
.bmi_calculator_container .header .title {
  color: var(--primary-color);
}
.bmi_calculator_container .size_manager {
  display: flex;
  background-color: white;
  padding: 40px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  border-radius: 10px;
  height: 80%;
}
.bmi_calculator_container form {
  background-color: white;
  margin-top: 20px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
  gap: 50px;
  width: 50%;
}
.bmi_calculator_container form .gender .flex-box {
  display: flex;
  margin-top: 10px;
}
.bmi_calculator_container form .bmi_box {
  padding: 2px;
  border-radius: 5px;
  width: 100px;
  text-align: center;
  background-color: white;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  cursor: pointer;
}
.bmi_calculator_container form .bmi_box.active {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.bmi_calculator_container form .bmi_box:hover {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.bmi_calculator_container form .form-box {
  width: 40%;
}
.bmi_calculator_container form .form-box label {
  margin-bottom: 10px;
}
.bmi_calculator_container form .cover-input {
  border: 1px solid var(--text-color);
  display: flex;
  place-content: center;
  place-items: center;
  border-radius: 5px;
  justify-content: space-between;
  color: var(--text-color);
  padding: 5px;
}
.bmi_calculator_container form .cover-input input {
  height: 100%;
  width: 90%;
  border: none;
  background-color: none;
  padding-left: 10px;
}
.bmi_calculator_container form .cover-input input:focus {
  outline: none;
}
.bmi_calculator_container form .cover-input span {
  font-size: 0.8rem;
  min-width: 50px;
  text-align: right;
}
.bmi_calculator_container form .height input {
  border: none;
  width: 50%;
  border-bottom: 1px solid var(--text-color);
  padding: 5px;
}
.bmi_calculator_container form .height input:focus {
  outline: none;
}
.bmi_calculator_container form .button_box button {
  height: 50px;
  width: 200px;
  font-size: 1rem;
  background-color: var(--primary-color);
}
.bmi_calculator_container .active-label {
  color: var(--primary-color);
}
.bmi_calculator_container .bmi-result-box {
  width: 50%;
  height: 100%;
}
.bmi_calculator_container .bmi-result-box .sm {
  background-color: #f1efef;
  height: 80%;
  padding: 20px;
  border-radius: 10px;
}
.bmi_calculator_container .bmi-result-box .sm .header {
  text-align: center;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
}
.bmi_calculator_container .bmi-result-box .sm .header .result {
  background-color: rgb(195, 195, 195);
  padding: 5px;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}
.bmi_calculator_container .bmi-result-box .sm .box_container {
  display: flex;
  padding: 5px;
  position: relative;
  place-items: center;
}
.bmi_calculator_container .bmi-result-box .sm .box_container .ticker {
  height: 30px;
  width: 5px;
  background-color: black;
  position: absolute;
}
.bmi_calculator_container .bmi-result-box .sm .box_container .ticker.underweight {
  left: 0;
}
.bmi_calculator_container .bmi-result-box .sm .box_container .ticker.normal {
  left: 25%;
}
.bmi_calculator_container .bmi-result-box .sm .box_container .ticker.overweight {
  left: 50%;
}
.bmi_calculator_container .bmi-result-box .sm .box_container .ticker.obesity {
  left: 75%;
}
.bmi_calculator_container .bmi-result-box .sm .box_container .boxes {
  height: 5px;
  width: 25%;
}
.bmi_calculator_container .bmi-result-box .sm .box_container .boxes p {
  margin-top: 20px;
  font-size: 0.8rem;
  text-align: center;
  color: var(--text-color);
}
.bmi_calculator_container .bmi-result-box .sm .box_container .boxes.yellow {
  background-color: rgb(203, 203, 2);
}
.bmi_calculator_container .bmi-result-box .sm .box_container .boxes.green {
  background-color: var(--primary-color);
}
.bmi_calculator_container .bmi-result-box .sm .box_container .boxes.orange {
  background-color: orange;
}
.bmi_calculator_container .bmi-result-box .sm .box_container .boxes.red {
  background-color: red;
}
.bmi_calculator_container .bmi-result-box .sm .report {
  text-align: center;
  margin-top: 50px;
}
.bmi_calculator_container .bmi-result-box .sm .report h2 {
  color: var(--primary-color);
  font-size: 1.4rem;
}
.bmi_calculator_container .bmi-result-box .sm .report p {
  font-size: 0.8rem;
}
.bmi_calculator_container .plan_meal_btn {
  height: 40px;
  width: 200px;
  font-size: 1rem;
  margin-top: 20px;
}

.faq-button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.151);
  position: relative;
}

@keyframes jello-vertical {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.tooltip {
  position: absolute;
  top: -20px;
  opacity: 0;
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
  pointer-events: none;
  letter-spacing: 0.5px;
}

.tooltip::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #ff2525;
  background-size: 1000%;
  background-position: center;
  transform: rotate(45deg);
  bottom: -15%;
  transition-duration: 0.3s;
}

.faq-button:hover .tooltip {
  top: -60px;
  opacity: 1;
  transition-duration: 0.3s;
}

.user_dashboard_container {
  min-height: 100vh;
}
.user_dashboard_container .dialog_sm {
  padding: 50px;
}
.user_dashboard_container .header {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
}
.user_dashboard_container .profile_data_box {
  height: 40vh;
  background-image: linear-gradient(30deg, green, lightgreen);
  display: flex;
  place-content: center;
  place-items: center;
  flex-direction: column;
  position: relative;
}
.user_dashboard_container .profile_data_box .data_box {
  width: 50%;
  height: 100%;
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  position: absolute;
  bottom: -30%;
  background-color: white;
  padding: 20px;
  box-shadow: 1px 1px 10px var(--light-black);
  border-radius: 20px;
}
.user_dashboard_container .profile_data_box .data_box .img_box {
  height: 100%;
  width: 40%;
  display: flex;
}
.user_dashboard_container .profile_data_box .data_box .img_box img {
  margin: auto;
  height: 100%;
  border: 1px solid black;
  border-radius: 20%;
}
.user_dashboard_container .profile_data_box .data_box .data p {
  font-size: 0.9rem;
  display: flex;
  place-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.user_dashboard_container .profile_data_box .data_box .data p .icon {
  color: var(--primary-color);
}
.user_dashboard_container .profile_data_box .data_box .global_btn {
  height: 40px;
  min-width: 150px;
}

.changepassword .dialog_sm, .change_profile .dialog_sm {
  padding: 40px;
}
.changepassword .dialog_sm form .gender_box, .change_profile .dialog_sm form .gender_box {
  padding: 20px 0px;
}
.changepassword .dialog_sm form .gender_box input, .change_profile .dialog_sm form .gender_box input {
  height: 20px;
  width: 20px;
}
.changepassword .dialog_sm form .global_btn, .change_profile .dialog_sm form .global_btn {
  height: 40px;
}
.changepassword .dialog_sm form .form-control, .change_profile .dialog_sm form .form-control {
  position: relative;
}
.changepassword .dialog_sm form .form-control .over-input, .change_profile .dialog_sm form .form-control .over-input {
  right: 20px;
  position: absolute;
  top: 50%;
  font-size: 0.9rem;
  color: var(--text-color);
}
.changepassword .successfull_box, .change_profile .successfull_box {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
}

.blog-container {
  padding: 0px 80px;
}
.blog-container h1 {
  text-align: center;
  color: var(--light-black);
  margin-bottom: 20px;
}
.blog-container .img_banner_box {
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  background-color: gray;
}
.blog-container .img_banner_box.two {
  height: 200px;
}
.blog-container .img_banner_box.three {
  height: 300px;
}
.blog-container .img_banner_box.one {
  height: 100px;
}
.blog-container .img_banner_box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.blog-container .blog_description {
  margin-top: 30px;
  color: var(--light-black);
}

.capitalize {
  text-transform: capitalize;
}

.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}

.box_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 50px;
}
.box_container .content_box {
  box-shadow: 1px 1px 10px gray;
  padding: 10px;
  overflow: hidden;
  border-radius: 10px;
  min-height: 300px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.box_container .content_box:hover {
  transform: translateY(-10px);
  box-shadow: 2px 2px 10px gray;
}
.box_container .content_box .img_box {
  height: 200px;
  background-color: gray;
  border-radius: 10px;
  overflow: hidden;
}
.box_container .content_box .img_box.two {
  height: 200px;
}
.box_container .content_box .img_box.three {
  height: 300px;
}
.box_container .content_box .img_box.four {
  height: 400px;
}
.box_container .content_box .img_box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.box_container .content_box .content_header {
  margin-top: 10px;
  color: var(--light-black);
}
.box_container .content_box .short_description {
  margin-top: 10px;
  color: var(--light-black);
}

.main_blog_container {
  display: flex;
  padding: 0px 80px;
  gap: 30px;
}
.main_blog_container .blog-container {
  padding: 0;
  margin-top: 50px;
}
.main_blog_container .blog-container .img_banner_box {
  height: 300px;
}
.main_blog_container .blog-container h1 {
  margin-top: 20px;
}

.meal_planner_container {
  padding: 0px 80px;
  min-height: 80vh;
}
.meal_planner_container h1 {
  text-align: center;
}
.meal_planner_container .popular_header {
  margin-top: 30px;
}
.meal_planner_container .plan_list {
  margin-top: 30px;
  display: flex;
}
.meal_planner_container .plan_list .list_box {
  width: 50%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  place-content: center;
  place-items: center;
}
.meal_planner_container .plan_list .list_box .content_box {
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
  min-width: 200px;
  text-align: center;
  transition: 0.5s ease-in-out;
}
.meal_planner_container .plan_list .list_box .content_box p {
  color: var(--light-black);
}
.meal_planner_container .plan_list .list_box .content_box:hover {
  transform: translateY(-5px);
}

.week_container {
  margin-top: 30px;
}
.week_container .week_box {
  margin-bottom: 20px;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  min-height: 200px;
}
.week_container .week_box .box {
  width: 20%;
  padding: 10px;
}

.meal_planner_content {
  padding: 0px 80px;
}
.meal_planner_content .blog-container {
  padding: 0;
}
.meal_planner_content .blog-container .img_banner_box {
  margin-top: 10px;
}
.meal_planner_content .planner_descriptions_box {
  margin-top: 50px;
}
.meal_planner_content .planner_descriptions_box .box {
  display: flex;
  gap: 50px;
  text-align: justify;
  margin-bottom: 20px;
}
.meal_planner_content .planner_descriptions_box .box.reverse {
  flex-direction: row-reverse;
}
.meal_planner_content .planner_descriptions_box .box .image_box {
  min-width: 30%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
}
.meal_planner_content .planner_descriptions_box .box .image_box img {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.meal_planner_content .planner_descriptions_box .text {
  margin-top: 10px;
}
.meal_planner_content .header {
  margin-top: 10px;
}
.meal_planner_content .title_desc {
  text-align: center;
}
.meal_planner_content .planner_sidebar_container {
  display: flex;
  gap: 20px;
}
.meal_planner_content .planner_sidebar_container .content {
  color: var(--light-black);
}
.meal_planner_content .planner_sidebar_container .content .content_box {
  min-height: 100px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.meal_planner_content .planner_sidebar_container .content .content_box .type_header {
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 10px;
}
.meal_planner_content .planner_sidebar_container .content .content_box .data_box {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  display: flex;
  place-items: center;
  gap: 30px;
}
.meal_planner_content .planner_sidebar_container .content .content_box .data_box .foods {
  margin-left: 20px;
  width: 40%;
  list-style-image: linear-gradient(green, green);
}
.meal_planner_content .planner_sidebar_container .content .content_box .data_box .nutrition_count {
  list-style: none;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(242, 242, 242);
}
.meal_planner_content .planner_sidebar_container .content .content_box .data_box .nutrition_count li {
  font-size: 0.9rem;
}
.meal_planner_content .planner_sidebar_container .content .content_box .data_box .nutrition_count p {
  margin-bottom: 10px;
}
.meal_planner_content .planner_sidebar_container .content.planner_sidebar {
  width: 20%;
  position: sticky;
  top: 100px;
  max-height: calc(100vh - 40px);
  overflow-y: auto;
  background-color: #f8f9fa;
  padding: 15px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}
.meal_planner_content .planner_sidebar_container .content.data_body {
  width: 80%;
}

.sidebar, .planner_sidebar {
  top: 100px;
  left: 10px;
  width: 200px;
  background-color: #f8f9fa;
  padding: 10px;
  border: 1px solid #e5e5e5;
}
.sidebar h3, .planner_sidebar h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.sidebar ul, .planner_sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar ul .sidebar-link, .planner_sidebar ul .sidebar-link {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 5px 0;
}
.sidebar ul .sidebar-link.active, .planner_sidebar ul .sidebar-link.active {
  font-weight: bold;
  color: #007bff;
}
.sidebar ul .sidebar-link:hover, .planner_sidebar ul .sidebar-link:hover {
  text-decoration: underline;
}

.snackbar-container {
  position: fixed;
  bottom: 20px;
  left: 200px;
  transform: translateX(-150px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

/* Snack Bar Styling */
.snackbar {
  visibility: hidden;
  width: 300px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  font-size: 17px;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.5s ease, top 0.5s ease;
  box-shadow: 1px 1px 10px gray;
  /* Close Button */
  /* Bouncy Effect Animation */
}
.snackbar #close-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}
.snackbar.show {
  visibility: visible;
  opacity: 1;
  animation: bounceIn 0.6s ease-out forwards;
}
.snackbar.success {
  background-color: rgb(1, 108, 1);
}
.snackbar.error {
  background-color: rgb(254, 58, 58);
}
.snackbar.hide {
  visibility: visible;
  opacity: 1;
  animation: bounceOut 0.6s ease-in forwards;
}

.my_meals {
  padding: 0px 80px;
}
.my_meals .profile_plan_header {
  margin-top: 150px;
  text-align: center;
}

.no_plans_box {
  color: var(--light-black);
  width: 100%;
  display: flex;
  place-content: center;
  place-items: center;
  flex-direction: column;
  margin-top: 10px;
}
.no_plans_box button {
  margin-top: 20px;
}
.no_plans_box .bmi_link {
  margin-top: 10px;
  color: var(--light-black);
  text-decoration: underline;
}

.recommended_user_data {
  display: flex;
  margin-top: 30px;
}
.recommended_user_data .box {
  margin: auto;
  min-width: 300px;
  background-color: var(--green-logo);
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px gray;
}
.recommended_user_data .box p {
  margin-bottom: 5px;
}

.no_recommended_box {
  min-height: 50vh;
}

/* Mobile View (up to 767px) */
@media screen and (max-width: 767px) {
  .container {
    padding: 10px;
  }
  .header {
    font-size: 20px;
  }
  .navbar {
    padding: 2px;
    min-height: 100px;
    height: auto;
  }
  .navbar .mobile {
    display: flex;
  }
  .navbar .logo_box .title h2 {
    font-size: 1.5rem;
  }
  .navbar .logo_box .title p {
    font-size: 0.8rem;
  }
  .navbar .right_nav_content {
    width: 100%;
    width: 100%;
    width: 30%;
    height: 100%;
    place-content: center;
    place-items: center;
    gap: 0;
  }
  .navbar .right_nav_content .global_btn {
    display: none;
  }
  .navbar .right_nav_content .top_buttons {
    display: block;
    place-content: center;
    place-items: center;
    gap: 5px;
  }
  .navbar .right_nav_content .top_buttons button {
    height: 20px;
    margin-bottom: 5px;
  }
  .navbar .right_nav_content .responsive_nav {
    border: 1px solid black;
  }
  .navbar .right_nav_content .top_buttons {
    font-size: 0.8rem;
    height: 70px;
  }
  .navbar .right_nav_content .top_buttons .menu {
    display: block;
  }
  .navbar .right_nav_content .top_buttons .user_box {
    width: 50px;
  }
  .navbar .right_nav_content .top_buttons .user-info {
    display: none;
  }
  .navbar .right_nav_content .dropdown .mobile_box {
    display: block;
  }
  .navbar .right_nav_content .nav_items ul {
    display: flex;
    flex-direction: column;
  }
  .navbar .right_nav_content .nav_items ul.hide {
    display: none;
  }
  .navbar .right_nav_content .nav_items ul .show {
    display: block;
  }
  .main_blog_container {
    border: 1px solid black;
    display: block;
  }
  .blog-container {
    padding: 5px;
  }
  .blog-container .img_banner_box {
    height: 200px;
  }
  .blog-container p {
    font-size: 0.9rem;
  }
  .main_blog_container {
    padding: 2px;
  }
  .box_container .content_box .img {
    height: 100px;
  }
  .box_container .content_header {
    font-size: 1rem;
  }
  .box_container .short_description {
    font-size: 0.8rem;
  }
  .meal_planner_content {
    padding: 0px;
  }
  .planner_descriptions_box .box {
    display: flex;
    flex-direction: column;
  }
  .planner_sidebar_container .content .content_box .data_box {
    width: 100%;
    flex-direction: column;
    place-items: left;
  }
  .planner_sidebar_container .content .content_box .data_box .foods {
    border: 1px solid black;
  }
  .planner_sidebar_container .content .content_box .data_box .nutrition_count {
    width: 100%;
  }
  .dialog_box {
    left: 0;
    top: 20px;
    transform: translate(0px, 0px);
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
    padding: 5px;
  }
  .dialog_box .dialog_sm {
    width: 100%;
  }
  .login_page form button {
    height: 40px;
  }
  .login_page .dialog_sm {
    padding: 5px;
  }
  .signup_page {
    padding: 0px 10px;
    background-color: white;
  }
  .signup_page .header {
    margin-top: 10px;
  }
  .signup_page .signup_container {
    flex-direction: column-reverse;
  }
  .signup_page .signup_container .img_box img {
    height: 100px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .signup_page .signup_container form {
    margin-top: 10px;
  }
  .signup_page .signup_container form .global_btn {
    height: 40px;
  }
  .homepage_container .header {
    font-size: 1.8rem;
  }
  .homepage_container h2 {
    font-size: 1.3rem;
  }
  .homepage_container .global_btn {
    height: 40px;
  }
  .how_it_works .header h1 {
    font-size: 1.5rem;
  }
  .how_it_works .container {
    margin-top: 10px;
    display: block;
  }
  .how_it_works .container svg {
    display: none;
  }
  .how_it_works .container .left {
    width: 100%;
  }
  .how_it_works .container .right {
    width: 100%;
  }
  .how_it_works .container .right h2 {
    font-size: 1.2rem;
    text-align: center;
  }
  .healthy_even_mean .ellipse2 {
    width: 100%;
    border: none;
    height: 0;
  }
  .healthy_even_mean .header p {
    width: 100%;
  }
  .healthy_even_mean .container {
    margin-top: 30px;
  }
  .healthy_even_mean .container.ct2, .healthy_even_mean .container.ct3 {
    display: flex;
    flex-direction: column-reverse;
  }
  .healthy_even_mean .container.ct2 .right, .healthy_even_mean .container.ct3 .right {
    display: flex;
    place-content: center;
  }
  .user_dashboard_container .profile_data_box .data_box {
    width: 90%;
  }
  .user_dashboard_container .profile_data_box .data_box .img_box {
    display: none;
  }
  .user_dashboard_container .my_meals {
    padding: 0px 10px;
  }
  .bmi_calculator_container {
    padding: 5px;
    height: auto;
  }
  .bmi_calculator_container .header .logo img {
    height: 40px;
  }
  .bmi_calculator_container .header h2 {
    font-size: 1.5rem;
  }
  .bmi_calculator_container .header p {
    font-size: 1rem;
  }
  .bmi_calculator_container .size_manager {
    padding: 5px;
    flex-direction: column;
  }
  .bmi_calculator_container .size_manager form {
    width: 100%;
  }
  .bmi_calculator_container .size_manager .bmi-result-box {
    margin-top: 30px;
    width: 100%;
  }
}
/* Tablet View (768px to 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding: 20px;
  }
  .header {
    font-size: 24px;
  }
  .healthy_even_mean .ellipse2 {
    width: 100%;
    margin-top: 100px;
    display: none;
  }
  .healthy_even_mean .container {
    width: 100%;
  }
  .healthy_even_mean .container .left {
    width: 50%;
  }
  .dialog_box {
    left: 0;
    top: 90px;
    transform: translate(0px, 0px);
    width: 100vw;
    border: 1px solid black;
    padding: 5px;
  }
  .dialog_box .dialog_sm {
    width: 100%;
  }
  .user_dashboard_container .profile_data_box .data_box {
    width: 90%;
  }
  .user_dashboard_container .my_meals {
    padding: 0px 10px;
  }
}/*# sourceMappingURL=main.css.map */