{%load static%}
<div class="how_it_works speciality">
    <div class="header">
        <h1>Speciality  <span class="primary-color">Meal Plans</span></h1>

    <svg width="108" height="38" viewBox="0 0 188 38" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 36.1916C59.9375 16.8791 124.801 2 186.109 2" stroke="#128047" stroke-width="3" stroke-linecap="round"/>
    </svg>
    </div>
        

    <div class="container">

        <div class="left">
            <h2 class="primary-black">Too Busy to Plan ? </h2>
            <!-- <h2 class="primary-color">Body Mass Index (B M I)</h2> -->

            <p class="text p-text-color">
                Subscribe to our dietitian-prepared Specialty Meal Plans which offer balanced nutrition each and every week and can be easily customized to your personal tastes.
                </p>
                <button class="global_btn mt-10">Learn More</button>
            </div>

            <div class="right">
                <div class="img_box1">
                    <img src="{% static 'images/speciality/mealplan1.png' %}" alt="">
                    <div class="label">12 Week Meal Plan</div>
                </div>
                <div class="img_box1">
                    <img src="{% static 'images/speciality/mealplan2.png' %}" alt="">
                    <div class="label">Low Carb</div>
                </div>
                <div class="img_box1">
                    <img src="{% static 'images/speciality/mealplan3.png' %}" alt="">
                    <div class="label">Vegeterian</div>
                </div>
                <div class="img_box1">
                    <img src="{% static 'images/speciality/mealplan4.png' %}" alt="">
                    <div class="label">Vegan</div>
                </div>
            </div>
    </div>

</div>