




{% load static %}
<div class="homepage_container">
    <div class="size_manager">
        <h1 class="header">Eat Healthy</h1>

        <h2 class="primary-color s-header">Shape your Health Today</h2>
    
        <a href="/meal-planner"><button class="global_btn bold">START MEAL PLANNING</button></a>
    
        <img src="{% static 'images/home_design1.png' %}" alt="" class="design_img img1">
        <img src="{% static 'images/home_design2.png' %}" alt="" class="design_img img2">
        <img src="{% static 'images/home_design3.png' %}" alt="" class="design_img img3">
        <img src="{% static 'images/home_design4.png' %}" alt="" class="design_img img4">
    
    </div>
    <div class="ellipse"></div>
</div>



