{%load static%}
<div class="how_it_works healthy_even_mean">
  <div class="header">
    <h1>What Does <span class="primary-color">Healthy</span> Even Mean ?</h1>

    <p class="p-text-color">
      At Healthy Meal Plans, <br />we understand that "healthy" actually means
      something different to everyone. <br />
      So we've worked tirelessly to ensure that this site offers options no
      matter what your taste,<br />
      cooking experience, or dietary preferences are.
    </p>
  </div>

  <div class="container ct1">
    <div class="right ct_img">
      <img src="{% static 'images/healthy-means1.png' %}" alt="" />
    </div>
    <div class="left">
      <h2 class="primary-black">
        Healthy Means <br /><span class="primary-color">Satisfying</span>?
      </h2>
      <!-- <h2 class="primary-color">Body Mass Index (B M I)</h2> -->

      <p class="text p-text-color">
        Our recipes are loaded with nutrients, fiber, and protein. They're
        designed to help you feel nourished and satiated. We believe that this
        is the <span class="primary-color">real secret to eating well.</span>
      </p>
      <!-- <button class="global_btn mt-10">Learn More</button> -->
    </div>
  </div>

  <div class="container ct2">
    <div class="left">
      <h2 class="primary-black">
        Healthy Means <br />
        <span class="primary-color">Real Food</span>?
      </h2>
      <!-- <h2 class="primary-color">Body Mass Index (B M I)</h2> -->

      <p class="text p-text-color">
        Our recipes feature nutritious, whole food ingredients that you can feel
        good about and that can easily be found
        <span class="primary-color">at your local supermarket.</span>
      </p>
      <!-- <button class="global_btn mt-10">Learn More</button> -->
    </div>

    <div class="right ct_img">
      <img src="{% static 'images/healthy-means2.png' %}" alt="" />
    </div>
  </div>


  <div class="container ct2">
    <div class="right ct_img">
        <img src="{% static 'images/healthy-means3.png' %}" alt="" />
      </div>
    <div class="left">
      <h2 class="primary-black">
        Healthy Means <br />
        <span class="primary-color">Cooking at Home</span>?
      </h2>
      <!-- <h2 class="primary-color">Body Mass Index (B M I)</h2> -->

      <p class="text p-text-color">
        We believe that the first step to healthy eating begins simply with cooking at home. Knowing what goes into your food is the best way to get the most out of it.
        
      </p>
      <!-- <button class="global_btn mt-10">Learn More</button> -->
    </div>


  </div>


  <div class="ellipse2"></div>
</div>
