{%load static%}
<div class="how_it_works">
    <div class="header">
        <h1>How it <span class="primary-color">Works</span></h1>

    <svg width="108" height="38" viewBox="0 0 188 38" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 36.1916C59.9375 16.8791 124.801 2 186.109 2" stroke="#128047" stroke-width="3" stroke-linecap="round"/>
    </svg>
    </div>
        

    <div class="container">
        <div class="left">
            <img src="{% static 'images/how_it_works1.png'%}" alt="">
        </div>
        <div class="right">
            <h2 class="primary-black">Calculate</h2>
            <h2 class="primary-color">Body Mass Index (B M I)</h2>

            <p class="text">
                We’ve got a BMI calculator which will be going to show you whether you have normal, underweight , overweight or obesity body weight and helps to plan meal accordingly.</p>
                <button class="global_btn mt-10">Calcuate</button>
            </div>

            <div class="arrow_navigate">
                <svg width="200" height="271" viewBox="0 0 269 271" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M266.598 0.296875C266.598 0.296875 266.294 1.89048 265.591 4.83788" stroke="#CCCCCC" stroke-width="3" stroke-miterlimit="10"/>
                    <path d="M263.238 13.8372C250.71 58.3637 198.572 200.631 32.8892 257.275" stroke="#CCCCCC" stroke-width="3" stroke-miterlimit="10" stroke-dasharray="8 8"/>
                    <path d="M28.4759 258.756C27.0118 259.237 25.5396 259.712 24.0569 260.18" stroke="#CCCCCC" stroke-width="3" stroke-miterlimit="10"/>
                    <path d="M0.402344 266.867L29.7183 243.553L25.768 259.485L37.6004 270.82L0.402344 266.867Z" fill="#CCCCCC"/>
                    </svg>
            </div>
                
                
    </div>


    <div class="container container2">

        <div class="left">
            <h2 class="primary-black">Deisgn a</h2>
            <h2 class="primary-color">Meal Plan</h2>

            <p class="text p-text-color">
                Use our Meal Planning tool to add recipes to your weekly meal plan. It's as simple as drag and drop (or select and place on mobile). You can add as many recipes as you want and keep track of your daily calorie intake.</p>
                <!-- <button class="global_btn mt-10">Calcuate</button> -->
            </div>
            <div class="right">
                <img src="{% static 'images/how_it_works2.png'%}" alt="">
            </div>


            <div class="arrow_navigate2">
 <svg width="200" height="268" viewBox="0 0 234 268" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M2.37964 1.02344C2.37964 1.02344 2.64369 2.5903 3.25442 5.48825" stroke="#CCCCCC" stroke-width="3" stroke-miterlimit="10"/>
<path d="M5.29834 14.3367C16.1817 58.1161 61.4728 197.996 205.4 253.69" stroke="#CCCCCC" stroke-width="3" stroke-miterlimit="10" stroke-dasharray="8 8"/>
<path d="M209.233 255.146C210.505 255.619 211.784 256.086 213.072 256.546" stroke="#CCCCCC" stroke-width="3" stroke-miterlimit="10"/>
<path d="M233.62 263.121L201.306 267.011L211.585 255.863L208.153 240.202L233.62 263.121Z" fill="#CCCCCC"/>
</svg>

            </div>
                
                
    </div>

    <div class="get_started_place">
    <button class="get_started global_btn bold">GET STARTED</button>

    </div>
</div>